// 
// 快速嵌入在class的模型片段
// 

@import "../config/global";


//float
.float
{
    float: left;
}
.float_right 
{
    float: right;
}
.clear_both
{
    clear: both;
}


//display
.hidden
{
    display: none;
}
.hidden_visi
{
    visibility: hidden;
}

//block
.block
{
    display: block;
}
.inline_block
{
    display: block;
}
