@import "../../config/global";


.banner
{
    @include _break("mobile")
    {
        height: 200px;
        background-repeat: no-repeat;
        background-size: 157%;
        background-position: -170px 0px;
        margin-bottom: 20px;
        background-color: red;
    }
    @include _break("pad")
    {
        height: 250px;
        background-size: 100%;
        background-position: 0px 0px;
        margin-bottom: 30px;
    }
    @include _break("desktop")
    {
        
    }
    
}