@import "../../config/global";


// model start
@mixin global-setting() 
{
    @include box-sizing(border-box);
    font-family: "Arial" !important;
}

@mixin padding20() 
{
    padding-left: 20px;
    padding-right: 20px;
}

@mixin remove-a-style() 
{
    color: inherit;
    text-decoration: none;
}

// model end




html, body 
{
    @include global-setting;
    height: 100%;
}

.container_wrap
{
    @include global-setting;
    min-height: 100%;
    padding: 25px 10px;
    background: #d7e6e0;

    .container_inner 
    {
        
        @include global-setting;
        @include container;
        min-height: 100%;

        .page
        {
            @include global-setting;
            @include full;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 20px;
            
            
            &.desc 
            {
                @include global-setting;
                background: white;

                .header
                {
                    @include global-setting;
                    @include padding20;

                    height: 115px;

                    .link
                    {
                        @include global-setting;
                        text-align: left;
                        @include span(1 of 4);

                        .logo 
                        {
                            @include global-setting;
                            display: inline-block;
                            margin-top: 40px;
                            width: 55px;
                            height: 55px;
                        }
                    }

                    .westamps
                    {
                        @include global-setting;
                        @include remove-a-style;

                        text-align: right;
                        color: #43ba84;
                        @include span(3 of 4 last);
                        font-weight: bold;
                        margin-top: 50px;
                        font-size: 36px;
                       
                    }
                }

                .banner
                {
                    @include global-setting;
                    height: 250px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: 0px 0px;
                    margin-bottom: 30px;
                }

                .title
                {
                    @include global-setting;
                    @include padding20;

                    @include full;
                    color: #444444;
                    line-height: 1.5em;
                    margin-bottom: 20px;
                    font-size: 20px;
                
                }

                .download_desc
                {
                    @include global-setting;
                    @include padding20;

                    @include full;
                    color: #f7a70c;
                    line-height: 1.5em;
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
            }

            &.info 
            {
                @include global-setting;
                @include padding20;
                
                background: white;
                padding: 0 40px;                    

                .title 
                {
                    @include global-setting;
                    @include full;
                    color: #43ba84;
                    line-height: 1.5em;
                    font-weight: bold;
                    font-size: 30px;
                    margin-top: 55px;
                    margin-bottom: 30px;
                }

                .boxsite
                {
                    @include global-setting;
                    @include full;
                    @include container;
                    max-width: inherit; // 取消 4 欄的最寬限制
                    margin-bottom: 15px;

                    .box 
                    {
                        @include global-setting;
                        @include span(4 of 4);
                        margin-bottom: 40px;
                        
                        &.left 
                        {
                            @include global-setting;
                            @include span(2 of 4);
                            clear: both;
                        }

                        &.right 
                        {
                            @include global-setting;
                            @include span(2 of 4 last);
                            clear: right;
                        }

                        .icon 
                        {
                            @include global-setting;
                            margin-bottom: 20px;
                        }

                        .title2 
                        {
                            @include global-setting;
                            @include full;
                            background-color: #dbf4e3;
                            border-top: 2px solid #43ba84;
                            border-bottom: 2px solid #43ba84;
                            color: #43ba84;
                            line-height: 37px;
                            font-weight: bold;
                            margin-bottom: 15px;
                            font-size: 20px;
                        }

                        .sub
                        {
                            @include global-setting;
                            @include padding20;

                            color: #444444;
                            line-height: 1.5em;
                            font-size: 20px;
                        }
                    }

                   
                }
            }

            &.about 
            {
                @include global-setting;
                background-position: top; 
                background-repeat: no-repeat;
                background-color: #1c744e;
                background-size: 100%;
                padding-top: 153px;
                
                p
                {
                    @include global-setting;
                    @include padding20;

                    color: white;
                    font-size: 16px;
                    padding: 0 60px;
                    line-height: 2em;
                    margin-bottom: 2em;

                    .bold 
                    {
                        @include global-setting;
                        font-weight: bold;
                    }

                &.or 
                {
                    @include global-setting;
                    margin-bottom: 0px;
                }

                    &.notice 
                    {
                        @include global-setting;
                        color: #f7a70c;
                        font-weight: bold;
                        margin-bottom: 60px;
                        font-size: 24px;
                    }
                }


            }

            &.contact 
            {
                @include global-setting;

                p 
                {
                    @include global-setting;
                    @include padding20;
                    font-size: 16px;
                    color: #444444;
                    line-height: 1.5em;

                    a 
                    {
                        @include global-setting;
                        color: #0161ce;
                    }
                }



            }
        }
        
    }

    
}



.download
{
    @include global-setting;
    @include remove-a-style;
    
    border-radius: 10px;
    background: #f7a70c;
    color: #ffffff;
    border: none;
    display: inline-block;
    font-weight: bold;
    
    font-size: 26px;
    width: 243px;
    height: 59px;
    line-height: 59px;
    margin-bottom: 30px;
}