/* line 9, ../../sass/model/snippet.scss */
.float {
  float: left;
}

/* line 13, ../../sass/model/snippet.scss */
.float_right {
  float: right;
}

/* line 17, ../../sass/model/snippet.scss */
.clear_both {
  clear: both;
}

/* line 24, ../../sass/model/snippet.scss */
.hidden {
  display: none;
}

/* line 28, ../../sass/model/snippet.scss */
.hidden_visi {
  visibility: hidden;
}

/* line 34, ../../sass/model/snippet.scss */
.block {
  display: block;
}

/* line 38, ../../sass/model/snippet.scss */
.inline_block {
  display: block;
}
