/* line 9, ../../sass/model/snippet.scss */
.float {
  float: left;
}

/* line 13, ../../sass/model/snippet.scss */
.float_right {
  float: right;
}

/* line 17, ../../sass/model/snippet.scss */
.clear_both {
  clear: both;
}

/* line 24, ../../sass/model/snippet.scss */
.hide {
  display: none !important;
}

/* line 28, ../../sass/model/snippet.scss */
.hidden_visi {
  visibility: hidden !important;
}

/* line 34, ../../sass/model/snippet.scss */
.block {
  display: block !important;
}

/* line 38, ../../sass/model/snippet.scss */
.inline_block {
  display: block !important;
}

/* line 42, ../../sass/model/snippet.scss */
.inline {
  display: inline !important;
}
